[Desktop Entry]
Version=13.1
Name=Intellij
GenericName=Rich IDE

Exec=idea
Terminal=false
Icon=/opt/{{ intellij_extracted_dir_name }}/bin/idea.png
Type=Application
Categories=TextEditor;IDE;Development
X-Ayatana-Desktop-Shortcuts=NewWindow
